/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn {
    color: #fff;
    background-color: #2a60f8;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.btn > a {
    color: #fff;
}

.small-btn {
    width: 100px;
}

img {
    max-width: 100%;
}

/* regole header */
header {
    margin-bottom: 150px;
}
/* regole generali top-bar */
.conteiner-top-bar {
    background-color: #fff;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.top-left, .top-right {
    width: 30%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 25%;
}

.menu {
    width: 70%;
}

.menu-info, .general-menu {
    display: flex;
    justify-content: space-between;
}

header a {
    color: #000000;
    font-size: 20px;
}

header li:hover {
    border-bottom: solid 1px #000000;
}

/* regole generali hero */
.conteiner-hero {
    margin-top: 100px;
    background-color: #b7cde4;
    height: 800px;
    width: 100%;
}

.hero {
    width: 80%;
    max-width: 1600px;
    height: 800px;
    padding-top: 100px;
    margin: 0 auto;
}

.page-title {
    width: 100%;
    height: 200px;
    font-size: 80px;
}

.hero-elements {
    width: 100%;
    height: calc(100% - 200px);
    padding-top: 50px;
    display: flex;
}

.text-hero, .img-hero {
    width: 50%;
}

.text-hero {
    font-size: 25px;
}

.text-hero > * {
    padding: 20px 0;
}

#go-down {
    font-size: 40px;
}

#hero-img {
max-width: 100%;
padding-top: 30px;
}
/* regole generali main */
.small-section {
    width: 60%;
    margin: 100px auto;
}

.title-section {
    font-size: 55px;
    margin: 50px 0;
}

/* regole sezione piani tariffari */
.billing {
    margin-bottom: 50px;
}

.billing > span {
    padding-right: 100px;
}

#selected {
    color: #2a60f8;
}

#no-selected {
    color: #cfcfd2;
}

.conteiner-rate-plane {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.slot-rate {
    width: 30%;
    height: 1200px;
    border: solid 1px #ceced1;
}

.th {
    padding: 10px;
    text-align: center;
    border-bottom: solid 1px #ceced1;
}
.td {
    padding: 20px;
}
.td > h4 {
    font-size: 25px;
    padding-bottom: 20px;
}

.list {
    padding: 50px 0;
}

.flex {
    padding: 10px 0;
    display: flex;
    align-items: baseline;
}

.flex > * {
    padding-right: 5px;
}

.free-trial {
    margin-bottom: 50px;
}

.small-line {
    color: #ceced1;
    padding: 50px 0;
}

.fa-check {
    color: #2a60f8;
}

.slot-custom-rate {
    width: 100%;
    height: 400px;
    border: solid 1px #ceced1;
}

.conteiner-td-custom {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.td > p {
    padding: 100px 0;
}

/* regole sezione descrizione dropbox */
.conteiner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.slot-img, .slot-text {
    width: 50%;
}

.slot-text {
    margin: 100px 0;
}
.slot-text > h3, .slot-functions-db > h3 {
    font-size: 35px;
}
.slot-text > * {
    margin: 20px 50px;
}

.white-btn {
    background-color: #fff;
    width: 200px;
    border: solid 1px #000000;
}

.white-btn > a {
    color: #000000;
}

.slot-functions-db {
    width: calc(100% / 3);
    margin: 50px 0;
}

.slot-functions-db > * {
    padding: 20px 20px;
}
/* regole sezione clienti*/
.big-section {
    width: 100%;
    
}

/* .big-section > .conteiner {
    
} */

.slot-title {
    width: 60%;
}

.link-info-customers > a {
    text-decoration: underline;
}

.conteiner-customers-brand, .description-customers {
    width: calc(100% / 3);
    
}

.conteiner-customers-brand {
    display: flex;
    flex-wrap:wrap; 
}

.slot-brand {
    width: 50%;
    
}

/* regole sezione FAQ */
.faq {
    width: 100%;
    /* debug */
    height: 800px;
    background-color: green;
    border: solid 1px black;
}

.faq-slot {
    width: 100%;
    height: 200px;
    background-color: purple;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

/* regole genareli footer */

footer {
    color: #fff;
    background-color: #000000;
    width: 100%;
    height: 600px;
}

.top-footer {
    width: 80%;
    margin: 0 auto;
    padding: 150px 0;
    display: flex;
    justify-content: space-between;
}

.link {
    width: 20%;
    padding: 0 25px;
}

footer h5 {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
}

footer li {
    font-size: 20px;
    padding: 10px 0;
}

footer a {
    color: #fff;
}