/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* bedug */
body {
    background-color: blue;
}

/* regole header */
header {
    margin-bottom: 150px;
}
/* regole generali top-bar */
.conteiner-top-bar {
    background-color: #fff;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.top-left, .top-right {
    width: 30%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo, .cnt-btn-start {
    width: 25%;
}

.menu {
    width: 70%;
}

.menu-info, .general-menu {
    display: flex;
    justify-content: space-between;
}

.btn {
    color: #fff;
    background-color: #2a60f8;
    padding: 10px;
}

.cnt-btn-start {
    text-align: end;
}

/* regole generali hero */
.conteiner-hero {
    margin-top: 100px;
    background-color: #b7cde4;
    height: 800px;
    width: 100%;
}

.hero {
    width: 80%;
    max-width: 1240px;
    height: 800px;
    padding-top: 100px;
    margin: 0 auto;
    /* debug */
    border: solid 2px black;
}

.page-title {
    width: 100%;
    height: 200px;
    font-size: 50px;
    /* debug */
    background-color: #fff;
}

.hero-elements {
    width: 100%;
    height: calc(100% - 200px);
    padding-top: 50px;
    display: flex;
    /* debug */
    background-color: #fff;
}

.text-hero, .img-hero {
    width: 50%;
} 